/*********** ELEMENT STYLES **************/
html {
	/*Set at 62.5% so I can use rem's at a base 10 value*/
	font-size: 62.5%;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.container{
	width: 80%;
	margin: 0 auto;
}
img{
	width: 7.5rem;
}
footer{
	display: flex;
	flex-direction: row;
	justify-content:center;
}
/*********** BASE TYPOGRAPHY STYLES ************/
h1, h2, h3, h4, h5, h6{
	font-family: 'Merriweather', serif;
}
h1{
	font-size: 2.4rem;
	font-weight: 300;
}
h2{
	font-size: 2rem;
}

p, a, button {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.5;
}
a{
	text-decoration: none;
	color: grey;
}
button{
	border: none;
	padding: 1rem 2rem;
}
/* PURPLE COLOR: #4a0b7c   REMOVE WHEN DONE*/

/************ Setting display flex's *************/
header, 
.logo, 
.main-nav,
.hero-img,
.two-col,
.contact,
.scl-media {
	display: flex;
}

/********* Header Styles *********/
.hdr-pusher{
	height: 9.5rem;
}
header{
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	box-shadow: 0rem .2rem .3rem grey;
	width: 100%;
	opacity: 0.85;
	background-color: white;
	position: fixed;
	z-index: 99999;
}
.logo h1{
	color:#4a0b7c;
}
.logo{
	align-items: center;
}
nav{
	flex-basis: 40%;
}
.main-nav{
	justify-content: space-around;
}
.main-nav-item a{
	border-bottom: 0rem solid gold;
	transition: border-bottom, 0.2s, linear;
}
.main-nav-item a:hover{
	color: #4a0b7c;
	border-bottom: 0.5rem solid gold;
}


/********* Hero Image Styles **********/
.hero-img{
	position: relative;
	flex-direction: column;
	justify-content: center;
	padding: 0 15%;
	color: white;
	height: 100vh;
	background: 
	linear-gradient(to bottom, rgba(0,0,0, 0.4), rgba(0,0,0, 0.8)),
	url(assets/hero-img.jpg);
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-attachment: fixed;
}
.hero-title {
	font-size: 8rem;
	text-transform: uppercase;
	padding: 0 0 4rem 0;
}
.amper {
	font-size: 12rem;
	font-weight: 700;
	position: relative;
}
.hero-sub-title {
	font-size: 2rem;
}
/***************** 2 Column Styles **************/
/* Featured Section */
.two-col{
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}
/**** Features Seciton ****/
.featured, .about{
	padding: 6rem 0;
	text-align: center;
}
.section-title{
	padding-bottom: 2rem;
	border-bottom: .1rem solid #4a0b7c;
	margin-bottom: 6rem;
}
.section-title h1{
	font-size: 6rem;
	margin-bottom: 2rem;
	color: #4a0b7c;
}
.col-one,
.col-two {
	width: 100%;
	margin-bottom: 4rem;
	padding: 0 3rem;
}
.feat-wine-img{
	height: 30rem;
	width: auto;
}
.feat-bike-img{
	width: 90%;
}
.feat-info-title{
	margin-bottom: 1.5rem;
}
.col-info p{
	margin-bottom: 1.2rem;
}
.buy-btn{
	background-color: gold;
	margin: 3rem 0;
	cursor: pointer;
	box-shadow: 0rem .3rem rgb(200,200,200);
}
.buy-btn:hover{
	background-color: rgb(216,182,0);
}

/* About Section */
.about .section-title{
	border: none;
	margin-bottom: 0;
}
.about{
	background: rgb(225,225,225);
	background-size: cover;
	box-shadow: inset 0rem .1rem 1rem rgb(150,150,150);
	margin-bottom: 1.4rem;
}
.about-logo{
	width: 30%;
}

/* Footer Styles */
.contact{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 6rem;
	background: linear-gradient(to bottom, rgba(25,25,25, 0.6), rgba(25,25,25, 0.8)),
	#4a0b7c;
	box-shadow: inset 0rem .1rem 1rem rgb(0,0,0);
}
.info,
.ftr-logo {
	margin-bottom: 3rem;
}

.info {
	color: white;
	text-align: center;
}
.info h2{
	text-transform: uppercase;
	font-weight: 300;
	padding-bottom: 1rem;

}
.phone,
.email {
	padding: .5rem 0;
}
.scl-media img{
	width: 5rem;
}
.github,
.linkedin,
.twitter {
	margin: 0 1rem;
	transition: opacity 1s;
}
.github:hover,
.linkedin:hover,
.twitter:hover{
	opacity: 0.5;
	/*transform: rotateX(-360deg);*/
}


/*************** MEDIA QUERIES *******************/

/* Tablet Media Queries */
@media (min-width: 40rem) {
	/***************** 2 Column Queries **************/
	/* Featured Section */
	.feat-bike-img{
		width: 35rem;
	}

	/* About Section */


	/**** Footer Queries ****/
	.contact{
		flex-direction: row;
		justify-content: space-between;
		padding: 6rem 8rem;
	}
	.info,
	.ftr-logo{
		margin-bottom: 0;
	}

}
/* Desktop Media Queries*/
@media (min-width: 70rem) {
	/***************** 2 Column Queries **************/
	/* Featured Section */
	.two-col{
		flex-direction: row;

	}
	.col-info{
		text-align: left;
	}
	.feat-wine,
	.feat-bikes {
		flex-basis: 50%;
		width: 50%;
	}
	.feat-bike-img{
		width: 35rem;
	}
	/* About Section */
	.about-logo{
		width: 50%;
	}

}